@charset "UTF-8";
body {
  background-color: #a6ee9f;
  width: 50%;
}

h1{
  color: #102c51;
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
  font-size: 300%;
}
p{
  color: #102c51;
  font-size: 300%;
  margin: 30px 0;
}

select {
  width: 50%;
  padding: 2%;
  margin: 1% 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 200%;
}
input[type=submit] {
  width: 50%;
  background-color: #4e9a06;
  color: white;
  padding: 2%;
  margin: 3% 0;
  border: none;
  border-radius: 10px;
  font-size: 200%;
}