* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  display: flex;
  flex-wrap: nowrap;
  margin:auto;
  justify-content: center;
  align-items: center;
}

.section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titulo {
  order: 1;
  text-align: center;
  font-weight: bold;
}

.textoItems {
  order: 2;
}

.selectItemsLinea{
	order: 3; 
}

.botonEnviarp1{
 order: 4;
}

.textoLinea{
 order: 2;
}

.lineaSel {
  font-style:italic;	
  order: 3;
}

.tablaHorario{
  order: 4;
}

.textoParada{
  order: 5;
}
.selectItemsParada{
  order: 6;
}
.botonEnviarp2{
  order: 7;
}
.botonVolverp2{
  order: 8;
}

/* Mobile Styles */
@media only screen and (max-width: 999px) {
  body {
    background-color: #c4f371; /* Green */
  }
  .titulo{
  font-size: 100%;
  }
  .tablaHorario {
  order:9;
  }
  .textoItems,.selectItemsLinea,
  .textoLinea,.lineaSel,.textoParada{
  	font-size: 150%;
  }
  
}


/* Desktop Styles */
@media only screen and (min-width: 1000px) {
  body {
    background-color: #B2D6FF; /* Blue */ 
  }
  
  .titulo{
  font-size: 200%;
  }
  .textoItems,.selectItemsLinea,
  .textoLinea,.lineaSel, .textoParada,.selectItemsParada{
  	width: 50%;
  	display: table-cell;
  	font-size: 150%;
  }
  
  /*tabla*/
  .tablaHorario{
  	width: 20%;
  	display:table;
  	float: right;
  	border-collapse: collapse;
  	text-align:center;
  }
	td, th {
	  border: 1px solid white;
	  padding: 8px;
	  width: 150%;
	}
	tr:nth-child(even){background-color: #c3e2f0;}
	tr:hover{background-color: #90acb8;}
	th {
	  padding-top: 12px;
	  padding-bottom: 12px;
	  text-align: center;
	  background-color: #1d8a8a;
	}
	/*Input*/
	.botonEnviarp2{
		width: 79%;
		justify-content:right;
	}
	input[type=submit] {
	  
	  background-color: #31cab2;
	  border: none;
	  font-size: 100%;
	  border-style: ridge;
	}
	select {
	  width: 100%;
	  display: inline-block;
	  box-sizing: border-box;
	}
	input:hover, select:hover {background-color: #90acb8;}
	
}
	
  }  
}