@charset "UTF-8";
map
{
	width:400px;
	height: 300px;
}

.marker{
	background-image: url('https://www.google.com/search?safe=active&client=ubuntu&hs=PGe&channel=fs&biw=1293&bih=534&tbm=isch&sa=1&ei=ycqgXOuDLYnEUvXDk9gE&q=imagen+autobus+icono&oq=imagen+autobus+icono&gs_l=img.3...4640.5312..5533...0.0..0.76.418.6......1....1..gws-wiz-img.......0j0i30j0i8i30.4AiGzlwJMSU#imgdii=XgeLmmYymhwosM:&imgrc=6gHNrEmZv0jQfM');
	background-size: cover;
	width: 40px;
	height: 50px;
	border-radius: 50%;
	cursor: pointer;
}